@import "scss/var";

a {
    text-decoration: none !important;
}
body {
    font-family: var(--custom-font-);
}

// preload
.preload_wrap {
    background-color: var(--custom-black);
    position: fixed;
    inset: 0;
    z-index: 1020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s 1s;
    .preload {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 10px;
        .text {
            color: #fff;
            font-size: 2rem;
            transition: transform 1s 0.2s;
        }
        .fill {
            width: 4rem;
            height: 2px;
            background-color: #fff;
            transition: opacity 1s ease-in-out;
            animation: preloadfill 2s infinite;
        }
    }
}

.preload_finish {
    visibility: hidden;
    transform: translateY(100%);
    .preload {
        .text {
            transform: translateY(100%);
        }
        .fill {
            opacity: 0;
        }
    }
}
// Hamburger section
.hamburger {
    position: fixed;
    top: 1.5rem;
    right: 1rem;
    z-index: 1001;
    &:hover {
        opacity: 1;
        .hamburger-inner {
            background-color: var(--custom-primary);
            &::before,
            &::after {
                background-color: var(--custom-primary);
            }
        }
    }
    .hamburger-inner {
        transition-duration: 0.4s;
        background-color: #fff;
        width: 1.6rem;
        height: 2px;
        transition: all 0.3s;
        &::before,
        &::after {
            background-color: #fff;
            width: 1.6rem;
            height: 2px;
            transition: all 0.3s;
        }
        &::before {
            top: -7px;
        }
        &::after {
            bottom: -7px;
        }
    }
}
.is-active {
    &:hover {
        opacity: 1 !important;
    }
    .hamburger-inner {
        background-color: var(--custom-primary) !important;
        &::before,
        &::after {
            background-color: var(--custom-primary) !important;
        }
    }
}
// Scroll Section
.scroll {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    color: #fff;
    z-index: 10;
    transition: all 0.5s;
    text-transform: uppercase;
    letter-spacing: 0.14rem;
    font-weight: 700;
    font-size: 0.8rem;
    transform-origin: center center;
    z-index: 999;
    .fill {
        content: "";
        position: absolute;
        bottom: 250%;
        left: 50%;
        transform: translateX(-50%);
        overflow: hidden;
        width: 1px;
        height: 3rem;
        background-color: rgba($color: #fff, $alpha: 0.2);
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            content: "";
            animation: fill 2s infinite ease;
        }
    }
    .text {
        transform: rotateZ(90deg);
    }
}
// side nav section
.side_nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    z-index: 1000;
    color: #fff;
    background-color: var(--custom-black);
    transition: all 0.5s ease-in-out;
    display: grid;
    align-items: center;
    gap: 50px;
    justify-content: center;
    transform: translateX(100%);
    .title {
        line-height: 1.48em;
        font-weight: 400;
        color: var(--custom-secondary);
        margin-bottom: 1rem;
        overflow: hidden;
        .title-wrap {
            transform: translateY(50px);
            transition: transform 1s ease 0.5s;
        }
    }
    .navbar_nav {
        margin: 0;
        padding: 0;
        list-style: none;
        .navbar-item {
            overflow: hidden;
            margin-bottom: 20px;
            .navbar-link {
                display: flex;
                align-items: center;
                color: var(--custom-secondary);
                transition: all 0.5s;
                gap: 15px;
                transform: translateY(50px);
                transition: transform 1s ease 0.5s;
                &:hover {
                    color: var(--custom-primary);
                }
            }
            .active {
                color: var(--custom-primary);
            }
        }
    }
}
.side_nav_is_active {
    transform: translateX(0%);
    .navbar_nav {
        .navbar-item {
            .navbar-link {
                transform: translateY(0px);
            }
        }
    }
    .title {
        .title-wrap {
            transform: translateY(0px);
        }
    }
}
.body {
    background-color: rgba($color: #181818, $alpha: 0.95);
}
// Main Section
.main {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out, opacity 1s 1.8s;
    opacity: 0;
}

.slide_left {
    transform: translateX(-360px);
}
// Left Content
.left_content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 29rem;
    .inner_content {
        position: relative;
        transition: all 0.5s;
        transform-style: preserve-3d;
        transform: rotateY(8deg);
        .name {
            position: absolute;
            bottom: 2rem;
            left: 3rem;
            z-index: 10;
            color: #fff;
            &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                width: 4rem;
                height: 0.1rem;
            }
            h2 {
                letter-spacing: 0.02em;
                font-weight: 300;
                line-height: 1.48em;
                font-size: 1.5rem;
            }
        }
        .picture_box {
            .img_wrap {
                max-width: 419px;
            }

            .frame {
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                z-index: -2;
                border: 1px solid #fff;
                pointer-events: none;
            }
            .frame_1 {
                opacity: 0.25;
                transform: translate(-1.2rem, 1.2rem);
            }
            .frame_2 {
                opacity: 0.15;
                transform: translate(-2.2rem, 2.2rem);
            }
            .frame_3 {
                opacity: 0.05;
                transform: translate(-3.3rem, 3.3rem);
            }
        }
    }
}

// Keyframes
@keyframes fill {
    0% {
        transform: translateY(-100%);
    }
    25% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(0%);
    }
    75% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(100%);
    }
}
@keyframes preloadfill {
    0% {
        width: 0;
        transform: translateX(0%);
    }
    25% {
        width: 100%;
    }
    50% {
        width: 100%;
        transform: translateX(00%);
    }
    75% {
        transform: translateX(100%);
        width: 100%;
    }
    100% {
        width: 100%;
        transform: translateX(100%);
    }
}

/* responsive xl */
@media (max-width: 1199px) {
}

/* responsive lg */
@media (max-width: 991px) {
}

/* responsive md */
@media (max-width: 768px) {
    .left_content {
        overflow-x: hidden;
        .inner_content {
            height: 100%;
            width: 100%;
            transform: rotateY(0deg);

            .name {
                transform: translate(-50%, 50%);
                bottom: 50%;
                left: 50%;
                width: max-content;
                h2 {
                    font-size: 2rem;
                }
            }
            .picture_box {
                .img_wrap {
                    max-width: 100%;
                    img {
                        height: 100vh;
                        object-fit: cover;
                    }
                }

                .frame {
                    display: none;
                }
            }
        }
    }
    .side_nav {
        width: 76%;
    }
    .slide_left {
        transform: translateX(-76%);
    }
}
/* responsive sm */
@media (max-width: 575px) {
}
